<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    {{#if_eq cssToolkitConfig "basscss"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/basscss/8.0.3/css/basscss.min.css" integrity="sha256-N3KNuIpvuG6+jz8eIJ2TTY299fqDLX/eQ78GQGba4lo=" crossorigin="anonymous" />
    {{/if_eq}}
    {{#if_eq cssToolkitConfig "bootstrap"}}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {{/if_eq}}
    <link rel="manifest" href="./manifest.json">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ name }}">
    <link rel="apple-touch-icon" href="./public/assets/images/icons/icon-152x152.png">

    <meta name="msapplication-TileImage" content="./public/assets/images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

  </head>
  <body>
    <div id="app"></div>
    <script src="./public/build.js"></script>
    {{#if serviceWorker}}
    <script async>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker
        .register('./sw.js')
        .then(function() {
          console.log('Service Worker Registered')
        })
      }
    </script>
    {{/if}}
  </body>
</html>